{% extends ('base.html.twig') %}

{% block title %}Factures{% endblock %}

{% block card %}
    <div class="card-body ">
        <div class="row d-flex justify-content-between px-3">
            <div class="d-flex align-items-center justify-content-start" style="color: #174a84">
                <i class="fas fa-user-alt float-left fa-3x mr-4 ml"></i>
                <h4 class="card-title align-middle mb-0"> New Client</h4>
            </div>
            <button class="btn text-primary border-primary my-4 btn-sm float-right button "><a class="text-primary" href="#">Créer une facture</a></button>
        </div>


        <div class="card-body">

        </div>
    </div>

{% endblock %}



{% block stat %}
    <h2 class="font-weight-normal text-center ">Statistiques Today</h2>
    <hr>
    <p class="lead">Lorem mlskjdlkqsjd;,sqd dlqksjdlkqsd q qlkjsdqsdjklq dqlsjdlkqsdlkqd</p>
{% endblock %}